/* -----------------------------
    Rounded input
 ----------------------------- */

.ui.form .tw.field .ui.input.rounded > input,
.tw.field .ui.input.rounded > input {
  border: 1px solid var(--gray);
  border-radius: 6px;
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 1em;
}

.ui.form .tw.field .ui.input.rounded > input:focus,
.tw.field .ui.input.rounded > input:focus {
  border: 1px solid var(--light-gray);
}

.ui.form .tw.field.error .ui.input.rounded > input,
.ui.form .tw.field.error .ui.input.rounded > input:focus,
.tw.field.error .ui.input.rounded > input,
.tw.field.error .ui.input.rounded > input:focus {
  border: 1px solid var(--error);
}

.tw.field.address .ui.input.rounded + .tw.blockie {
  margin-right: 12px;
}

.tw.field .ui.input.rounded ~ .message {
  display: none;
}
