.SectorEditorModal .map {
  height: 300px;
}

.SectorEditorModal .messages-container {
  position: relative;
}

.SectorEditorModal .messages {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  padding: 16px;
  width: 100%;
}

.SectorEditorModal .messages-container .message {
  display: flex;
  background: rgba(var(--void-raw), 0.88);
  font-size: 13px;
  line-height: 18px;
  padding: 7px 16px;
  border-radius: 16px;
}

.SectorEditorModal .icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center -2px;
  margin-top: 1px;
  margin-right: 8px;
}

.SectorEditorModal .message.warning .icon {
  background-image: url(../../../images/save-error.svg);
}

.SectorEditorModal .message.info .icon {
  background-image: url(../../../images/info.svg);
  background-size: contain;
  background-position: center;
}

.SectorEditorModal .tw.modal-navigation {
  margin-bottom: 20px;
}

.SectorEditorModal .form {
  padding: 0px 32px;
}

.SectorEditorModal.ui.modal .actions .ui.button + .ui.button {
  margin-left: 20px;
}
